# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('AB_NYC_2019 - AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# Which hosts are the busiest and why?

import pandas as pd

df = pd.read_csv("AB_NYC_2019 - AB_NYC_2019.csv")

host_reviews = df.groupby('host_id').agg({'number_of_reviews': 'sum', 'reviews_per_month': 'mean'})
busiest_hosts = host_reviews.sort_values(by=['number_of_reviews', 'reviews_per_month'], ascending=False).head(3)

print("First three busiest hosts:")
print(busiest_hosts)

# Customer Id "37312959" is the busiest. We can conclude this by calculating the monthly reviews by the total of reviews
# By having the total of reviews and the monthly mean we can find out how many people stays at the Hosts' property, if we assume every Renter leaves a review
# We display the three busiest hosts starting from the busiest.

First three busiest hosts:
          number_of_reviews  reviews_per_month
host_id
37312959               2273          10.706000
344035                 2205           4.307692
26432133               2017          13.604000

In [7]:
#How many neighborhood groups are available and which shows up the most?

import pandas as pd

df = pd.read_csv("AB_NYC_2019 - AB_NYC_2019.csv")

neighborhood_groups = df['neighbourhood_group'].unique()

num_groups = len(neighborhood_groups)
print("Number neighborhoods:", num_groups)
group_counts = df['neighbourhood_group'].value_counts()

most_common_group = group_counts.idxmax()
print("Neighborhood group with most ocurrances:", most_common_group)
print("Properties located at this group:", group_counts.max())

# By returning the Unique values of "neighborhood_group" we can see the total ammount of groups
# We can calculate the total ammount of ocurrances and then use idmax() to see what group name has the highest amount

Number neighborhoods: 5
Neighborhood group with most ocurrances: Manhattan
Properties located at this group: 21661

In [8]:
# Are private rooms the most popular in manhattan?

import pandas as pd

df = pd.read_csv("AB_NYC_2019 - AB_NYC_2019.csv")

manhattan_listings = df[df['neighbourhood_group'] == 'Manhattan']
room_type_counts = manhattan_listings['room_type'].value_counts()
most_popular_room_type = room_type_counts.idxmax()

print("Most popular type of room/listing in Manhattan is:", most_popular_room_type)

# Similar to our "query" from previous question
# We can find out information about most popular type of room by showing the total amount of type of rooms in Manhattan
# Then we can return the maximum number of ocurrances for each type of room
# That is how we can find out if "Private rooms" are the most popular rooms which in this case it is False, The most 
# Popular type are "Entire Home/Apts"

Most popular type of room/listing in Manhattan is: Entire home/apt

In [12]:
#Which neighorhood group has the highest average price?
import pandas as pd

avg_price_neighborhood = df.groupby('neighbourhood_group')['price'].mean()
highest_avg_price_neighborhood = avg_price_neighborhood.idxmax()
highest_avg_price = avg_price_neighborhood.max()

print("Neighborhood group with the highest average price:", highest_avg_price_neighborhood)
print("Highest average price:", round(highest_avg_price, 2))

# We get the mean for each in the column "neighborhood_group" 
# then we use idmax to return the neighborhood group with the highest average price
# Use max() to directly get the highest average price

Neighborhood group with the highest average price: Manhattan
Highest average price: 196.88

In [16]:
# Which neighbor hood group has the highest total price?
import pandas as pd

highest_total_price_neighborhood = df.groupby('neighbourhood_group')['price'].sum().idxmax()
highest_total_price = df.groupby('neighbourhood_group')['price'].sum().max()

print("Neighborhood with highest total price:", highest_total_price_neighborhood)

Neighborhood with highest total price Manhattan

In [19]:
#Which top 5 hosts have the highest total price?
import pandas as pd

top_hosts_total_price = df.groupby('host_id')['price'].sum().sort_values(ascending=False).head(5)

top_hosts_total_price_str = str(top_hosts_total_price)
top_hosts_total_price_str = top_hosts_total_price_str.split('\n')[0:5]

print("Top 5 hosts with the highest total price:")
for line in top_hosts_total_price_str:
    print(line)

Top 5 hosts with the highest total price:
host_id
219517861    82795
107434423    70331
156158778    37097
205031545    35294

In [25]:
# Who currently has no (zero) availability with a review count of 100 or more?

import pandas as pd

df['availability_365'] = pd.to_numeric(df['availability_365'], errors='coerce')
df['number_of_reviews'] = pd.to_numeric(df['number_of_reviews'], errors='coerce')

hosts_zero_availability = df[(df['availability_365'] == 0) & (df['number_of_reviews'] >= 100)]

print("Hosts zero availability and reviews of 100 or higher:")
print(hosts_zero_availability[['host_id', 'host_name', 'availability_365', 'number_of_reviews']])

Hosts zero availability and reviews of 100 or higher:
         host_id   host_name  availability_365  number_of_reviews
8           7490   MaryEllen                 0                118
94         79402  Christiana                 0                168
132       129352         Sol                 0                193
174       193722       Coral                 0                114
180        67778        Doug                 0                206
...          ...         ...               ...                ...
29581  127740507    Kathleen                 0                103
30461  176185168       Janet                 0                119
31250   21074914      Albert                 0                102
32670   40119874    Stephany                 0                131
35014  209549523     Mariluz                 0                112

[162 rows x 4 columns]

In [23]:
# What host has the highest total of prices and where are they located?

import pandas as pd

df['price'] = pd.to_numeric(df['price'], errors='coerce')
hosts_total_price = df.groupby('host_id')['price'].sum()

host_with_highest_total_price = hosts_total_price.idxmax()
highest_total_price = hosts_total_price.max()

location_of_host = df.loc[df['host_id'] == host_with_highest_total_price, 'neighbourhood_group'].iloc[0]

print("Host with the highest total price is located in:", location_of_host)
print("Their host ID:", host_with_highest_total_price)
print("Highest total price:", highest_total_price)

# Convert 'price' column to numeric type
# Add and sum the prices for each listing after grouping them. 
# Find the location of the host with highest total price, which in this case is "Manhattan"

Host with the highest total price is located in: Manhattan
Their host ID: 219517861
Highest total price: 82795

In [22]:
# When did Danielle from Queens last receive a review?
import pandas as pd

df['last_review'] = pd.to_datetime(df['last_review'])

# Filter the DataFrame for Danielle from Queens
danielle_queens_df = df[(df['host_name'] == 'Danielle') & (df['neighbourhood_group'] == 'Queens')]

# Get the maximum date from the filtered DataFrame
last_review_danielle_queens = danielle_queens_df['last_review'].max()

print("Last review date for Danielle from Queens:", last_review_danielle_queens)

# In this code we created a DataFrame, we need to specify that we need our 'last_review' numbers to be read as a 
# Date Format instead of just Integers
# Using the function .max() we can return the highest review date which would be the last one made.

Last review date for Danielle from Queens: 2019-07-08 00:00:00

## Further Questions

1. Which host has the most listings?

In [27]:
import pandas as pd

hosts_listings_count = df.groupby('host_id')['id'].nunique()

host_with_most_listings = hosts_listings_count.idxmax()
most_listings_count = hosts_listings_count.max()

print("Host with the most listings is:", host_with_most_listings)
print("Number of listings:", most_listings_count)

#Customer '219517861' appears at least 327 times in our data, so We know they have $327 properties

Host with the most listings is: 219517861
Number of listings: 327

2. How many listings have completely open availability?

In [26]:
import pandas as pd

df['availability_365'] = pd.to_numeric(df['availability_365'], errors='coerce')
open_availability_listings = df[df['availability_365'] == 365]
num_open_availability_listings = open_availability_listings.shape[0]
print("Number of listings with completely open availability:", num_open_availability_listings)

# Grouping and adding the total amount of listing with open availability

Number of listings with completely open availability: 1295

3. What room_types have the highest review numbers?

In [31]:
import pandas as pd

room_types_review_count = df.groupby('room_type')['number_of_reviews'].sum()

highest_review_room_types = room_types_review_count[room_types_review_count == room_types_review_count.max()]

print("Room type with highest review number:")
print(highest_review_room_types)

# Grouping our dataFrame and adding the sum to obtain a total then we can retrieve the maximum number of reviews
# so We can know what property has the highest reviews.

Room type with highest review number:
room_type
Entire home/apt    580403
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
# Look for the comments at the bottom of each line!


# Analyzing this Data I have learn the vary uses of "groupby" as well as how handy the functions 
# ".max()", ".idmax(), ".unique()" when using after grouping
# these functions can be very helpful and facilitate our search through our data.
# 
# I also realize how similar Pandas can be to a SQL query which could also be done by opening an analyzing Data
# Using SQL. However, I believe for convenience and help performing complex calculations Pandas can be easier to 
# navigate through the Data with